# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files

# - repo: https://github.com/psf/black
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 23.1.0
  hooks:
  - id: black

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.0.1
  hooks:
  - id: mypy

# disabled: as it currently fights with Black :-(
# - repo: https://github.com/PyCQA/isort
#   rev: 5.12.0
#   hooks:
#   - id: isort
